
<ul>
  <div id='titleHeaderContainer'>
    <div id='titleHeader'>
      <a routerLink="/" class='nameHeader'>R</a>
      <a routerLink="/" class='nameHeader'>O</a>
      <a routerLink="/" class='nameHeader'>L</a>
      <a routerLink="/" class='nameHeader'>O</a>
      <a routerLink="/" class='nameHeader'>D</a>
      <a routerLink="/" class='nameHeader'>E</a>
      <a routerLink="/" class='nameHeader'>X</a>
    </div>
  </div>

  <div class='divli'>
    <li>
      <a routerLink='/'>Home</a>
    </li>
  
    <li>
      <a routerLink='/view-contacts'>View All Contacts</a>
    </li>
    
    <li>
        <a routerLink='/create-contacts'>Create Contacts</a>
    </li>
      
    <li>
      <a routerLink='/profile'>My Profile</a>
    </li>
  
    <li>
        <a routerLink='/logout'>Log Out</a>
    </li>
  </div>

</ul>