.test {
  color: red;
}

.page {
  padding: 15px;
  background-color: paleturquoise;
  height: 100%;
}

.container {
  width: 400px;
  margin: auto;
  padding: 20px 15px;
  background-color: #ddd;
  box-shadow: 2px 2px 2px 2px #ccc;
  border-radius: 15px;
}

input {
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.btn-submit {
  border: 0;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  color: black;
  background-color: darken(salmon, 25%);
  border-radius: 10px;
  box-shadow: 3px 3px 8px 2px black;
  transition: background-color 0.5s ease-out;

  &:disabled { 
    background-color: lighten(#ddd, 5%);
    color: lighten(black, 50%)
  }
}

.require {
  color: #3e3e3e;
  font-size: 12px;
}