<!-- 
<br><br><br>
  <div class='search'>
    {{ data.search }}
  </div>
<form>
  <input id='searchInput' class='search' type='text' (keyup)='onKeyUp($event)' placeholder='Search...'>
  <br>
  <div id='liveSearch'> {{value}} </div>
  <div class='contacts'>
  <div *ngFor='let use of users' class='test'>
      <div class='testName'>{{ use.name }}
      </div>
      <div class='testButtons'>
        <button class='moreInfoButton'>More Info</button>
        <button class='editButton'>Edit</button>
        <button class='deleteButton'>Delete</button>
      </div>
    </div>
  </div>
</form> -->

<br><br>
<br>
  <div class='search'>
    {{ data.search }}
  </div>
<!-- <form> -->
<div>
  <input type="text" id="onkeysearch" class='search' (keyup)="onKey($event)" name="search" placeholder="Search..">
  <!-- <br>
  <button class='search' (click)="refresh()">Refresh Before Searching</button> -->
  <br>
  <a href="/search" class='search'>Reload Page Before Searching</a>
</div>

<br>
<div class="users-title">
  {{ usersTitle }}
</div>
<br>
<div class="users-container">
  <div class="existingCards" *ngFor="let use of allUsers">
    <!-- <div class="existingCards"> -->
      <div class="charName">{{use.name}}</div>
      <!-- <div *ngFor='let use of allUsers' class="users"> -->
        <hr>
        <div class="user-info">
          username: {{ use.username }} 
        </div>
        <!-- <div class="user-info">
          name: {{ use.name }}
        </div> -->
        <div class="user-info">
          email: {{ use.email }}
        </div>
        <div class="user-info">
          address: {{ use.address }}
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
  
  <br><br>
  <div class="contacts-title">
    {{ contactsTitle }}
  </div>
  <br>
  <div class="contacts-container">
    <div class="existingCards" *ngFor='let con of allContacts'>
      <!-- <div class="existingCards"> -->
        <div class="charName">{{con.name}}</div>
        <hr>
        <!-- <div class="contact-info">
          name: {{ con.name }}
        </div> -->
        <div class="contact-info">
          address: {{ con.address }}
        </div>
        <div class="contact-info">
          mobile: {{ con.mobile }}
        </div>
        <div class="contact-info">
          home: {{ con.home }}
        </div>
        <div class="contact-info">
          work: {{ con.work }}
        </div>
        <div class="contact-info">
          email: {{ con.email }}
        </div>
        <div class="contact-info">
          twitter: {{ con.twitter }}
        </div>
        <div class="contact-info">
          instagram: {{ con.instagram }}
        </div>
        <div class="contact-info">
          github: {{ con.github }}
        </div>
      <!-- </div> -->
    </div>
  </div>
