<h1>
    {{ title }}
  </h1>
  
  <form action="">
    Name: <input type="text" name='name' 
    [(ngModel)]='formData.name'>
    <br><br>
    Email: <input type="text" name='email'
    [(ngModel)]='formData.email'>
  </form>
  
  <br>
  <div [class]='formData.name === "Jeff" ? "test" : "" ' >
    Name: {{ formData.name }}
  </div>
    <div>
    Email: {{ formData.email}}
  </div>
  
  
  <br><br>
  <!-- banana in a box -->
  <!-- <button (click)='submit()' [disabled]='true'>Submit</button> -->
  <button (click)='submit()' [class]='formData.class'>Submit</button>
  