<br><br>
<div class="users-title">
  {{ usersTitle }}
</div>
<br>
<button routerLink='/createContact'>Create New Contact</button>
<div class="users-container">
  <div *ngFor='let use of allUsers' class="users">
    <div class="user-info">
      username: {{ use.username }} 
    </div>
    <hr>
    <div class="user-info">
      name: {{ use.name }}
    </div>
    <div class="user-info">
      email: {{ use.email }}
    </div>
    <div class="user-info">
      address: {{ use.address }}
    </div>
  </div>
</div>

<br><br>
<div class="contacts-title">
  {{ contactsTitle }}
</div>
<br>
<div class="contacts-container">
  <div *ngFor='let con of allContacts' class="contacts">
    <!-- <button (click)='getContact()')>detail</button> -->
    <button class="contact-info" (click)="getContact()">
      id: {{ con.id }}
    </button>
    <div class="contact-info">
      name: {{ con.name }}
    </div>
    <hr>
    <div class="contact-info">
      address: {{ con.address }}
    </div>
    <div class="contact-info">
      mobile: {{ con.mobile }}
    </div>
    <div class="contact-info">
      home: {{ con.home }}
    </div>
    <div class="contact-info">
      work: {{ con.work }}
    </div>
    <div class="contact-info">
      email: {{ con.email }}
    </div>
    <div class="contact-info">
      twitter: {{ con.twitter }}
    </div>
    <div class="contact-info">
      instagram: {{ con.instagram }}
    </div>
    <div class="contact-info">
      github: {{ con.github }}
    </div>
  </div>
</div>
  