

<!-- <form class='searchForm'>
  <br>
  <div class='search'>
    {{ data.search }}
  </div>

  <input style='border: 2px solid lightblue' onfocus="this.style.background = 'lightblue'"  onblur="this.style.background = 'white'" 
  class='nameBox' placeholder='Name...' type="text" name='name' 
  [(ngModel)]='formData.name'>
  <input type="submit" class='search-submit'>
</form> -->
<br><br>
<br>
  <div class='search'>
    {{ data.search }}
  </div>
<!-- <form> -->
<div>
  <input type="text" id="search" class='search' (keyup)="onKey($event)" name="search" placeholder="Search..">
</div>

<br>
<div class="users-title">
  {{ usersTitle }}
</div>
<br>
<div class="users-container">
  <div class="existingCards" *ngFor="let use of allUsers">
    <!-- <div class="existingCards"> -->
      <div class="charName">{{use.name}}</div>
      <!-- <div *ngFor='let use of allUsers' class="users"> -->
        <hr>
        <div class="user-info">
          username: {{ use.username }} 
        </div>
        <!-- <div class="user-info">
          name: {{ use.name }}
        </div> -->
        <div class="user-info">
          email: {{ use.email }}
        </div>
        <div class="user-info">
          address: {{ use.address }}
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
  
  <br><br>
  <div class="contacts-title">
    {{ contactsTitle }}
  </div>
  <br>
  <div class="contacts-container">
    <div class="existingCards" *ngFor='let con of allContacts'>
      <!-- <div class="existingCards"> -->
        <div class="charName">{{con.name}}</div>
        <hr>
        <!-- <div class="contact-info">
          name: {{ con.name }}
        </div> -->
        <div class="contact-info">
          address: {{ con.address }}
        </div>
        <div class="contact-info">
          mobile: {{ con.mobile }}
        </div>
        <div class="contact-info">
          home: {{ con.home }}
        </div>
        <div class="contact-info">
          work: {{ con.work }}
        </div>
        <div class="contact-info">
          email: {{ con.email }}
        </div>
        <div class="contact-info">
          twitter: {{ con.twitter }}
        </div>
        <div class="contact-info">
          instagram: {{ con.instagram }}
        </div>
        <div class="contact-info">
          github: {{ con.github }}
        </div>
      <!-- </div> -->
    </div>
  </div>
  <!-- <ul>
    <li>Eye color: {{char.eye_color}}</li>
    <li>Height: {{char.height}}</li>
    <li>Mass: {{char.mass}}</li>
    <li>Skin color: {{char.skin_color}}</li>
  </ul> -->

  <!-- <label id='search'>Search: <input id='namebox' type='text' (keyup)='showHide()' placeholder='Search...'></label>
  <br>
  <div class='contacts'>
    <div *ngFor='let char of characters' class='existingCards'>
      <div class='charName'> {{ char.name }} </div>
      <div id='searchFromName' class='searchFormAnswer'>
        Name: {{ formData.name }}
      </div> -->
      
      <!-- <div class='testButtons'>
        <button class='moreInfoButton'>More Info</button>
        <button class='editButton'>Edit</button>
        <button class='deleteButton'>Delete</button>
      </div> -->
    <!-- </div>
  </div> -->

  
<!-- </form> -->

<!-- <div><br>
  <div>
    planet: {{ planets }}
  </div>
  name: {{ characters }}
</div> -->
<!-- 
<div class="people-title">
  {{ people }}
</div>
<div class='people-container'>
  <div *ngFor='let char of characters' class='people'>
    <div class='people-info'>
      name: {{ char.name }},  
    </div>
    <hr>
    <div class='people-info'>
      height: {{ char.height }}m,`
    </div>
    <div class='people-info'>
      mass: {{ char.mass }}kg,
    </div>
    <div class='people-info'>
      hair color: {{ char.hair_color }},
    </div>
    <div class='people-info'>
      eye color: {{ char.eye_color }}
    </div>
    <div class='people-info'>
      <div>
        homeworld: {{ char.homeworld }} 
      </div>
    </div>
    <div class="people-info">
      species: {{ char.species }}
    </div>
    <div class="people-info">
      character: {{ char.url }}
    </div>
    <div class="people-info">
      starships: {{ char.starships }}
    </div>
  </div>
</div>

<div class="planet-title">
  {{ planet }}
</div>
<div class="planets-container">
  <div *ngFor='let plan of planets' class="planets">
    <div class="planets-info">
      name: {{ plan.name }}
    </div>
    <hr>
    <div class="planets-info">
      terrain: {{ plan.terrain }}
    </div>
    <div class="planets-info">
      population: {{ plan.population }}
    </div>
    <div class="planets-info">
      planet: {{ plan.url }}
    </div>
  </div>
</div>

<h2>
  {{ data.content }}
</h2>

<h1>
  {{ title }}
</h1>

<h2>
  {{ subtitle }}
</h2>

<p>
  home page
</p>

<h2>
  {{ data.header }}
</h2> -->